.window{
    width: 300px;
    height: 200px;
    overflow: hidden;
    .images{
        position: relative;
        img{
            transition: transform 1s;
            position: absolute;
            top: 0;
        }
    }
}
img.current{
    left: 0;
    transform: translateX(0);
    z-index: 10;
}
img.leave{
    transform: translateX(-100%);
    z-index: 10;
}
img.enter{
    transform:translateX(100%);
    z-index: -1;
}